<!doctype html>
<html lang="en" ng-app="token">
<head>
  <meta charset="utf-8">
  <title>Token Checklist</title>
  <link rel="stylesheet" href="/static/css/app.css"/>
</head>
<body>

  <div ng-controller="TokenEntryControl">
    <form name="listArea">
        <label for="list-text-area">Cards: </label>
        <textarea id="list-text-area" name="list" ng-model="list"></textarea>
        <button ng-click="getTokensFromList(list)">Get Tokens</button>
    </form>
    <div ng-show="results">
        <ul>
            <li ng-repeat="result in results">{{ result }}</li>
        </ul>
    </div>

  </div>
  <!-- In production use:
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  -->
  <script src="/static/lib/angular/angular.js"></script>
  <script src="/static/lib/angular/angular-route.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/services.js"></script>
  <script src="/static/js/controllers.js"></script>
  <script src="/static/js/filters.js"></script>
  <script src="/static/js/directives.js"></script>
</body>
</html>
